body {
    background: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
}
.container button {
    border: none;
    outline-color: transparent;
    padding: 1rem 1.5rem;
    color: rgb(22, 32, 41);
    background: #2df134;
    letter-spacing: 2px;
    font-family: monospace;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 1px 5px 10px 2px rgb(0, 0, 0,0.3);
}
.container button:focus {
    outline: 2px solid #e7ea0d;
}
.pop-up {
    margin: 30px 10px;
    width: 100px;
    position: relative;
    padding: 2.7rem 2.5rem;
    border-radius: .4rem;
    background: #e7ea0d;
    box-shadow: 1px 5px 10px 2px rgb(0, 0, 0,0.3);
}
span {
    position: absolute;
    right: 10px;
    top: 20px;
    margin: 7px;
    cursor: pointer;
}
#color {
    width: 50%;
    padding: 1rem 2rem;
    position: absolute;
    top: 20px;
    left: 10px;
    color: #000;
    border: 2px solid #e7ea0d;
    border-radius: .3rem;
    outline-color: transparent;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 900;
}